body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#map {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#logo {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 7;
  font-size: xx-large;
  font-style: italic;
}

a {
  color: #0078A8;
}

/* hides footer and marker-list on small screen */
@media (max-width: 780px) {
  #marker-list {
    display: none;
  }
}

.leaflet-almost-top {
   position: absolute;
   z-index: 1000;
   pointer-events: none;
   top:200px;
}

#marker-list{
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#marker-above{
  display:none;
}

.placename{
    border-bottom: 1px rgb(230,230,230) solid;
    cursor:pointer;
}

.categories-control a{
  background-image: url(../img/pin-gray.55.png);
  background-size: 30px 30px;
}

.info-control{
  width: 200px;
  overflow-y: visible;
  overflow-x: hidden;
}

.locate-control img{
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.help-control{
  text-indent: 2px;
}
.help-control-expanded{
  width: 200px;
  height: 200px;
}

.help-control .help-contents {
	display: none;
}
.help-control-expanded .help-contents {
	display: block;
}
.help-control-expanded .help-button {
	display: none;
}
.help-control .help-control-expanded a {
  display: none;
}
.help-control a:hover {
  display: none;
}

.help-contents{
  font-size: 12px;
  padding: 5px 5px;
  z-index: 7;
  background: rgba(255,255,255,0.9);
  line-height: initial;
  text-align: left;
}
.title{
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.help-contents a{
  color: #0078A8;
  text-decoration:initial;
  text-align: initial;
  display: initial;
  height: initial;
  border-bottom: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-bottom: initial;
  line-height: initial;
}
.help-contents a:hover {
  color: #0078A8;
  text-decoration:initial;
  text-align: initial;
  display: initial;
  height: initial;
  border-bottom: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-bottom: initial;
  line-height: initial;
}

.logo-control{
  width: 125px;
  height: 75px;
  background-image: url(../img/logo-tb.png);
  background-size: 125px 75px;
}

.wait-control{
  width: 26px;
  height: 26px;
}

.wait-control img{
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
